[submodule "dotbot"]
	path = dotbot
	url = https://github.com/anishathalye/dotbot
	ignore = dirty
[submodule "fzf-tab"]
	path = fzf-tab
	url = https://github.com/Aloxaf/fzf-tab.git
[submodule "ghostty-cursor-shaders"]
	path = ghostty-cursor-shaders
	url = https://github.com/sahaj-b/ghostty-cursor-shaders
[submodule "flavors"]
	path = flavors
	url = https://github.com/yazi-rs/flavors.git
[submodule "zsh/fzf-tab"]
	path = zsh/fzf-tab
	url = https://github.com/Aloxaf/fzf-tab.git
