Rime/build/
Rime/user.yaml
Rime/luna_pinyin.userdb
Rime/build
Rime/easy_en.userdb
Rime/sync/f9354129-e4a8-46a3-a49d-309797c018cb
Rime/installation.yaml
config/yazi/flavors
Rime/sync/3186fe33-7c60-437d-82af-2395753dd208
Rime/sync/f2c0d803-e7b4-4b59-82ac-b09ee787e3cf
pi/agent/extensions/node_modules/
