[submodule "dotbot"]
	path = dotbot
	url = https://github.com/anishathalye/dotbot
	ignore = dirty
[submodule "fzf-tab"]
	path = fzf-tab
	url = https://github.com/Aloxaf/fzf-tab.git
[submodule "ghostty-cursor-shaders"]
	path = ghostty-cursor-shaders
	url = https://github.com/TinyWhite1997/ghostty-cursor-shaders.git
	branch = dotfiles
[submodule "flavors"]
	path = flavors
	url = https://github.com/yazi-rs/flavors.git
[submodule "zsh/fzf-tab"]
	path = zsh/fzf-tab
	url = https://github.com/Aloxaf/fzf-tab.git
[submodule "pi/agent/extensions/amplitude/mcp-marketplace"]
	path = pi/agent/extensions/amplitude/mcp-marketplace
	url = https://github.com/amplitude/mcp-marketplace.git
[submodule "pi/agent/extensions/revenuecat/ai-toolkit"]
	path = pi/agent/extensions/revenuecat/ai-toolkit
	url = https://github.com/RevenueCat/ai-toolkit.git
